{
    "region": "koreacentral",
    "subscription_id": "{REPLACE THIS}",
    "workspace_names": [
        "amlws004",
        "amlws005",
        "amlws006"
    ],
    "computeinstance_name": "amlci000",
    "vm_size": "STANDARD_D2_v2",
    "ssh_public_access": true,
    "admin_user_ssh_public_key": "{REPLACE THIS}"
}